<div class="container py-3 mt-3">
    <div class="row d-flex align-items-center justify-content-around">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <div class="row align-items-center justify-content-center">
                <h1 class="ReadCycle" style="font-size: 4rem;">ReadCycle</h1>
            </div>
            <div class="row align-items-center justify-content-center">
                <h2 style="font-size: 2rem; margin: 4%">Diamo nuova vita ai tuoi libri</h2>
            </div>
            <div class="row align-items-center justify-content-around">
                <button class="btn btn-primary btn-lg btn-block form-control" [routerLink]="'/catalogo'" [routerLinkActive]="'active'">Vai al catalogo</button>
            </div>
        </div>
        <div class="col-md-8 col-lg-7 col-xl-6 ">
            <div class="row d-flex align-items-center justify-content-around">
                
                    <img src="https://i.pinimg.com/564x/54/28/5e/54285e730e937aea84a3d3dba3ed152b.jpg" class="img-fluid" alt="ReadCycle logo">
               
            </div>
        </div>
    </div>
</div>
