<div class="container">
  <div class="row border">
    <app-searchbar></app-searchbar>
  </div>
  
  <div class="row m-4 section-tendenza">
    <div class="row m-1">
      <div class="col-sm align-self-center">
        <h1 class="m-2" style="color: white; font-weight: bold;">Libri di tendenza</h1>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm text-end">
        <button class="btn mt-2 btn-scopri"> Scopri <i class="fa fa-arrow-circle-right m-1 icon" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-sm" *ngFor="let libro of libriTendenza">
        <app-book-card [book]='libro'></app-book-card>
      </div>
    </div>
  </div>

  <div class="row m-4 section-piu-letti">
    <div class="row m-1">
      <div class="col-sm align-self-center">
        <h1 class="m-2" style="color: black; font-weight: bold;">I libri più letti</h1>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm text-end">
        <button class="btn mt-2 btn-scopri" style="background-color: black !important; color: white !important;"> Scopri <i class="fa fa-arrow-circle-right m-1 icon" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-sm" *ngFor="let libro of libriPiuLetti">
        <app-book-card [book]='libro'></app-book-card>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>