<article *ngIf="reservation" class="postcard light blue">
    <a class="postcard__img_link">
        <img class="postcard__img" [src]="sanitizeImgUrl(book == null ? '' : book.cover)" alt="Image Title" />
    </a>
    <div class="postcard__text t-dark">
        <h1 class="postcard__title blue" style="color: black;"><strong>{{ book == null ? '' : book.title }}</strong> di {{ book== null ? '' : book.author }}</h1>
        <div class="postcard__subtitle small" style="color: black; font-size: 12pt;">
            <time datetime="2020-05-25 12:00:00" [hidden]="!owner">
                <i class="fa fa-calendar mr-2"></i>Preso in prestito il {{ book == null ? '' : book.publishingDate }}
            </time>
            <time datetime="2020-05-25 12:00:00" [hidden]="owner">
                <i class="fa fa-calendar mr-2"></i>Prestato il {{ book == null ? '' : book.publishingDate }}
            </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt" style="color: black">Trama: {{ book == null ? '' : (book.plot.length > 300 ? book.plot.substring(0, 300) + '...' : book.plot) }} </div>
        <ul class="postcard__tagbox">
            <li class="tag__item play blue"><i class="fa fa-tag mr-2"></i>Genere: {{ book == null ? '' : book.genre }}</li>
            <li class="tag__item play blue"><i class="fa fa-clock-o mr-2"></i>Casa editrice: {{ book == null ? '' : book.publisher }}</li>
            <li class="tag__item play blue" [hidden]="owner"><i class="fa fa-user mr-2"></i>Lettore: {{ book == null ? '' : book.owner.username }}</li>
            <li class="tag__item play blue" [hidden]="!owner"><i class="fa fa-user mr-2"></i>Proprietario: {{ book == null ? '' : book.owner.username }}</li>
        </ul>
    </div>
</article>
