<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
      <div class="input-group">
        <input type="search" placeholder="Cerca nel catalogo..." aria-describedby="button-addon1" class="form-control border-0 bg-light">
        <div class="input-group-append align-items-center">
          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><mat-icon class="mat-icon">search</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>
