<!--<div class="d-flex justify-content-center">
  <input class="form-control me-2 w-50" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-primary" type="submit">
    <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
  </button>
</div>-->
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
      <div class="input-group">
        <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
        <div class="input-group-append align-items-center">
          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><mat-icon class="mat-icon">search</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
