<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <div class="row align-items-center justify-content-center">
                <img id="imgSuccess" src="assets/401_Error_Unauthorized.png" class="img-fluid mt-2 mb-2" alt="unauthorized" style="width: auto; height: 500px;" />
            </div>
            <div class="row align-items-center justify-content-center">
                <h2 style="text-align: center">Scusa!</h2>
                <h2 style="text-align: center">Non sei autorizzato ad accedere a questa pagina.</h2>
            </div>
            <div class="row align-items-center justify-content-around">
                <button style="width: 80%" class="btn btn-primary btn-lg btn-block form-control" [routerLink]="'/'">HOME</button>
            </div>
        </div>
    </div>
</div>
