<div class="background-page">
    <p class="title">INSERIMENTO LIBRO NEL CATALOGO</p>
    <span class="spacer"></span>
    <div class="form">
        <mat-form-field class="form-input-book">
            <mat-label>Titolo</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Autore</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Anno Pubblicazione</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Editore</mat-label>
        <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Genere</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Durata prestito</mat-label>
            <mat-select>
                <mat-option value="one">15 giorni</mat-option>
                <mat-option value="two">30 giorni</mat-option>
                <mat-option value="two">60 giorni</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

