/*.background-page{
    background-color: #D9D9D9;
    position: absolute;
    width: 90%;
    height: 82%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    padding-top: 2%;
    padding-bottom: 10%;
    margin-top: 5%;
    } 
.form{
    margin: 20px;
} */

.form-group{
    color:#407BFF;
    margin: 7px;
}

mat-form-field{
    width: 70%;
    margin: 1%;
    display: block;
}

mat-input{
    background-color: #407BFF;
    color: #407BFF;
}
/*mat-label{
    background-color: #407BFF;
    color: #407BFF;
} */
.title{
    font-size: 250%;
    margin: 2%;
    margin-bottom: 5%;
}


.container{
    background-color: #D9D9D9;
    border-radius: 10px;
    padding-top: 0.5%;
    padding-bottom: 1%;
    margin-top: 2%;
}
.col-sm{
    color: #407BFF;
    font-size: 1rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}


  .rettangolo{
    background-color: white;
  }
  button.btn_scansione{
    border: white;
    background-color: white;
  }

  button.btn_ins-lib{
    border: white;
    background-color: #4361EE;
    color: white;
  }

  .form-group{
    color:#407BFF;
    margin: 7px;
}
.form-control{
    background-color: #95b3f1;
}
  
  