
<div class="container">
  <div class="row"> 
    <div class="col">
        <div class="row inserimento-libro">
            <div class="col-sm align-self-center">
                <h1 class="m-1" style="color: black; font-weight: bold; font-size: 1.75rem;">Inserimento libro nel catalogo</h1>
            </div>
        </div>
        <div class="row titolo">
            <div class="col-sm"> Titolo
                <mat-form-field>
                    <mat-label></mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row autore">
            <div class="col-sm"> Autore
                <mat-form-field>
                    <mat-label></mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row anno-pubblicazione">
            <div class="col-sm"> Anno pubblicazione
                <mat-form-field>
                    <mat-label></mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row genere">
            <div class="col-sm"> Genere
                <mat-form-field>
                    <mat-label></mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row durata-prestito">
            <div class="col-sm"> Durata prestito
                <mat-form-field>
                    <mat-label></mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
    </div>
    
    <div class="col">
       <div class="row m-3" > 
      <!-- <div class="py-20 h-screen bg-white px-2"> --> 
            <div class="max-w-md mx-auto rounded-lg overflow-hidden md:max-w-xl">
                <div class="md:flex">
                    <div class="w-full p-3">
                        <div class="relative border-dotted h-48 rounded-lg border-dashed border-2 border-blue-700 bg-gray-100 flex justify-center items-center">
        
                          <div class="absolute">
                            
                            <div class="flex flex-col items-center">
                              <i class="fa fa-folder-open fa-4x text-blue-700"></i>
                            <span class="block text-gray-400 font-normal">Attach you files here</span>
                            </div>
                          </div>
        
                          <input type="file" class="h-full w-full opacity-0" name="">
                        </div>
                    </div>
                </div>
            </div>
     <!--  </div> --> 
    </div> 
        <div class="row m-2">
            <div class="col-sm align-self-center">
                <button  type="button" class="btn btn_scansione form-control btn-lg btn-block" style="color : #4361EE">SCANSIONA IL CODICE A BARRE</button>
            </div>
        </div>
        
        <div class="row m-2">
            <div class="col-sm align-self-end">
                <button  type="button" class="btn btn_ins-lib form-control btn-lg btn-block">
                    <mat-icon>book</mat-icon>
                    INSERISCI LIBRO
                  </button>
            </div>
        </div>
    </div>
 </div>  
</div>

<!--  mat-raised-button extended --> 