.background-page{
    background-color: #D9D9D9;
    position: absolute;
    width: 90%;
    height: 82%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    }
.form{
    margin: 20px;
}
mat-form-field{
    width: 40%;
    margin: 1%;
    display: block;
}
.title{
    font-size: 250%;
    margin: 2%;
    margin-bottom: 5%;
}
