<nav class="navbar navbar-expand-lg static-top pt-4">
    <div class="container-fluid px-4">
        <div class="navbar-brand" style="display: contents;">
            <img class="m-1" src="../../assets/logo.png" style="height: 40px; cursor: pointer" [routerLink]="'/home'">
            <p style="cursor: pointer" class="m-1" [routerLink]="'/home'">ReadCycle</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn" [routerLink]="'/home'" [routerLinkActive]="'active'">HOME</button>
                </li>
                <li class="nav-item">
                    <button class="btn" [routerLink]="'/catalogo'" [routerLinkActive]="'active'">CATALOGO</button>
                </li>
                <li class="nav-item" *ngIf="isLoggedin">
                    <button class="btn" [routerLink]="'/inserisci-libro'" [routerLinkActive]="'active'">INSERISCI LIBRO</button>
                </li>
                <li class="nav-item" *ngIf="isLoggedin">
                    <button class="btn" [routerLink]="'/annunci'" [routerLinkActive]="'active'">ANNUNCI</button>
                </li>
                <li class="nav-item" *ngIf="!isLoggedin">
                    <button class="btn" [routerLink]="'/login'" [routerLinkActive]="'active'">LOGIN</button>
                </li>
                <li class="nav-item" *ngIf="isLoggedin" >
                    <button class="btnProfilo" [routerLink]="'/profilo'" [routerLinkActive]="'active'">
                        <img src="assets/profile.png" alt="profilo" style="width: auto; height: 26px;"/>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
