<nav class="navbar navbar-expand-lg static-top pt-4">
    <div class="container-fluid px-4">
        <div class="navbar-brand" style="display: contents;">
            <img class="m-1" src="../../assets/logo.png" style="height: 40px; cursor: pointer" [routerLink]="'/home'">
            <p style="cursor: pointer" class="m-1" [routerLink]="'/home'">ReadCycle</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn" [routerLink]="'/home'" [routerLinkActive]="'active'">HOME</button>
                </li>
                <li class="nav-item">
                    <button class="btn" [routerLink]="'/catalogo'" [routerLinkActive]="'active'">CATALOGO</button>
                </li>
                <li class="nav-item" *ngIf="isLoggedin">
                    <button class="btn" [routerLink]="'/inserisci-libro'" [routerLinkActive]="'active'">INSERISCI LIBRO</button>
                </li>
                <li class="nav-item" *ngIf="isLoggedin">
                    <button class="btn" [routerLink]="'/annunci'" [routerLinkActive]="'active'">ANNUNCI</button>
                </li>
                <li class="nav-item" *ngIf="!isLoggedin">
                    <button class="btn" [routerLink]="'/login'" [routerLinkActive]="'active'">LOGIN</button>
                </li>
                <li class="nav-item" *ngIf="isLoggedin" >
                    <button class="btn btnProfilo" [routerLink]="'/annunci'" [routerLinkActive]="'active'">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width: auto; height: 26px" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
