.container {
  background-color: #F1F1F1;
}

.details {
  background-color: white;
  border-radius: 5px;
}

.infos {
  background-color: #F1F1F1;
  border-radius: 5px;
}

.ratings{
  margin-right:10px;
}

.ratings i{
  color:#cecece;
  font-size:32px;
}

.rating-color{
  color:#fbc634 !important;
}