<div class="container my-4">
  <div class="row">
    <div class="col-md-4 col-sm-12 align-self-center">
      <img id="book-cover" alt="copertina" src="{{ bookClicked.cover }}" class="m-4" style="width: 80%; height: 80%;"/>
    </div>
    <div class="col-md-8">
      <div class="m-5">
        <div class="row mb-2">
          <h1 id="book-title" style="font-weight: bold; font-size: 4em;"> {{ bookClicked.title }} <span class="hide">di {{ bookClicked.author }}</span></h1>
        </div>
        <div class="row">
          <div class="d-lg-block col-lg-4 d-none">
            <h2>di {{ bookClicked.author }}</h2>
          </div>
          <div class="col-lg-4 col-6 text-end">
            <h2 id="book-owner" class="d-flex justify-content-end align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512" class="m-1">
                <path d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/>
              </svg>
              {{ bookClicked.owner.username }}
            </h2>
          </div>
          <div class="col-lg-4 col-6 vl">
            <div class="ratings">
              <i *ngFor="let s of star; index as i" class="fa fa-star" [ngClass]="i < 3.5 ? 'rating-color': ''"></i>
          </div>
          </div>
        </div>
        <div class="details p-1">
          <h1 class="m-2 title" style="font-weight: bold">Informazioni</h1>
          <div class="row">
            <div class="col-xl-7 col-lg-8">
              <div id="book-plot" class="infos m-2 p-1 d-lg-block d-md-none">
                <p class="title m-1">Trama</p>
                <p class="text m-1">{{ bookClicked.plot }}</p>
              </div>
              <div id="book-conditions" class="infos m-2 p-1">
                <p class="title m-1">Condizioni</p>
                <!-- controllo badge condizione eccellenti -->
                <ng-template *ngIf="bookClicked.condition=='ECCELLENTE'; then badgeEccellenteCheck else badgeEccellente"></ng-template>
                <ng-template #badgeEccellenteCheck>
                  <span class="badge m-1 p-2"><i class="fa fa-check m-1"></i>Eccellenti</span>
                </ng-template>
                <ng-template #badgeEccellente>
                  <span class="badge m-1 p-2 badge-disabled">Eccellenti</span>
                </ng-template>

                <!-- controllo badge condizioni ottime-->
                <ng-template *ngIf="bookClicked.condition=='OTTIMA'; then badgeOttimoCheck else badgeOttimo"></ng-template>
                <ng-template #badgeOttimoCheck>
                  <span class="badge m-1 p-2"><i class="fa fa-check m-1"></i>Ottime</span>
                </ng-template>
                <ng-template #badgeOttimo>
                  <span class="badge m-1 p-2 badge-disabled">Ottime</span>
                </ng-template>

                <!-- controllo badge condizioni accettabili -->
                <ng-template *ngIf="bookClicked.condition=='ACCETTABILE'; then badgeAccetabileCheck else badgeAccetabile"></ng-template>
                <ng-template #badgeAccetabileCheck>
                  <span class="badge m-1 p-2"><i class="fa fa-check m-1"></i>Accettabili</span>
                </ng-template>
                <ng-template #badgeAccetabile>
                  <span class="badge m-1 p-2 badge-disabled">Accettabili</span>
                </ng-template>
              </div>
            </div>
            <div class="col-xl-5 col-lg-4">
              <div id="book-price" class="infos m-2 p-1">
                <p class="title m-1">Prezzo</p>
                <p class="text m-1">
                  <img src="../../assets/coin.png" class="img-fluid m-1 coin"/>
                  1 coin
                </p>
              </div>
              <div id="book-editions" class="infos m-2 p-1">
                <p class="title m-1">Genere</p>
                <p class="text m-1" style="text-transform: capitalize"> {{ bookClicked.genre.toLowerCase().replaceAll("_", " ") }} </p>
              </div>
              <div id="book-restitution" class="infos m-2 p-1">
                <p class="title m-1">Restituzione</p>
                <p class="text m-1"> {{ bookClicked.loanDuration }} giorni</p>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-prenota form-control mt-2" *ngIf="isLoggedin" (click)="reserveBook()">Prenota</button>
      </div>
    </div>
  </div>
</div>
